<h1>Productos: </h1>

<ul>
    {{#each products}}
        <h2>{{this.cod}} // {{this.nombre}}</h2>
        <a href="/product/{{this.cod}}">Ver detalles</a>

        <form action="/product/{{this._id}}?_method=DELETE" method="POST">
            <button type="submit">Eliminar producto</button>
        </form>
    {{/each}}
</ul>


